go 1.20

use ./leetcode

use (
	./leetcode/basics
	./leetcode/binarysearch
	./leetcode/channels
	./leetcode/cyclic
	./leetcode/dp
	./leetcode/gametheory
	./leetcode/heap
	./leetcode/rwhelper
	./leetcode/linkedlist
	./leetcode/maths
	./leetcode/query
	./leetcode/recursion
	./leetcode/stacks
)
